.product-container{
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px #000;
}

.product-page-img{
    margin: 30px;
}

.product-detail-container{
    margin: 30px auto;
}

.btn-sm{
    zoom: 70%;
    cursor:default;
}

.disabled{
    opacity: 1 !important;
}
